package ${package}.controller;

import java.util.List;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.ui.ModelMap;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;
import com.ruoyi.framework.aspectj.lang.annotation.Log;
import com.ruoyi.framework.aspectj.lang.constant.BusinessType;
import ${package}.domain.${capitalizeClassName};
import ${package}.service.I${capitalizeClassName}Service;
import com.ruoyi.framework.web.controller.BaseController;
import com.ruoyi.framework.web.page.TableDataInfo;
import com.ruoyi.framework.web.domain.AjaxResult;

/**
 * ${tableComment} 信息操作处理
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Controller
@RequestMapping("/${moduleName}/${uncapitalizeClassname}")
public class ${capitalizeClassName}Controller extends BaseController
{
    private String prefix = "${moduleName}/${uncapitalizeClassname}";
	
	@Autowired
	private I${capitalizeClassName}Service ${uncapitalizeClassname}Service;
	
	@RequiresPermissions("${moduleName}:${uncapitalizeClassname}:view")
	@GetMapping()
	public String ${uncapitalizeClassname}()
	{
	    return prefix + "/${uncapitalizeClassname}";
	}
	
	/**
	 * 查询${tableComment}列表
	 */
	@RequiresPermissions("${moduleName}:${uncapitalizeClassname}:list")
	@PostMapping("/list")
	@ResponseBody
	public TableDataInfo list(${capitalizeClassName} ${uncapitalizeClassname})
	{
		startPage();
        List<${capitalizeClassName}> list = ${uncapitalizeClassname}Service.select${capitalizeClassName}List(${uncapitalizeClassname});
		return getDataTable(list);
	}
	
	/**
	 * 新增${tableComment}
	 */
	@GetMapping("/add")
	public String add()
	{
	    return prefix + "/add";
	}
	
	/**
	 * 新增保存${tableComment}
	 */
	@RequiresPermissions("${moduleName}:${uncapitalizeClassname}:add")
	@Log(title = "${tableComment}", action = BusinessType.INSERT)
	@PostMapping("/add")
	@ResponseBody
	public AjaxResult addSave(${capitalizeClassName} ${uncapitalizeClassname})
	{		
		return toAjax(${uncapitalizeClassname}Service.insert${capitalizeClassName}(${uncapitalizeClassname}));
	}

	/**
	 * 修改${tableComment}
	 */
	@GetMapping("/edit/{${primaryKey.attrname}}")
	public String edit(@PathVariable("${primaryKey.attrname}") ${primaryKey.attrType} ${primaryKey.attrname}, ModelMap mmap)
	{
		${capitalizeClassName} ${uncapitalizeClassname} = ${uncapitalizeClassname}Service.select${capitalizeClassName}ById(${primaryKey.attrname});
		mmap.put("${uncapitalizeClassname}", ${uncapitalizeClassname});
	    return prefix + "/edit";
	}
	
	/**
	 * 修改保存${tableComment}
	 */
	@RequiresPermissions("${moduleName}:${uncapitalizeClassname}:edit")
	@Log(title = "${tableComment}", action = BusinessType.UPDATE)
	@PostMapping("/edit")
	@ResponseBody
	public AjaxResult editSave(${capitalizeClassName} ${uncapitalizeClassname})
	{		
		return toAjax(${uncapitalizeClassname}Service.update${capitalizeClassName}(${uncapitalizeClassname}));
	}
	
	/**
	 * 删除${tableComment}
	 */
	@RequiresPermissions("${moduleName}:${uncapitalizeClassname}:remove")
	@Log(title = "${tableComment}", action = BusinessType.DELETE)
	@PostMapping( "/remove")
	@ResponseBody
	public AjaxResult remove(String ids)
	{		
		return toAjax(${uncapitalizeClassname}Service.delete${capitalizeClassName}ByIds(ids));
	}
	
}
