package ${package}.service;

import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import ${package}.mapper.${capitalizeClassName}Mapper;
import ${package}.domain.${capitalizeClassName};
import ${package}.service.I${capitalizeClassName}Service;
import com.ruoyi.common.support.Convert;

/**
 * ${tableComment} 服务层实现
 * 
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${capitalizeClassName}ServiceImpl implements I${capitalizeClassName}Service
{
	@Autowired
	private ${capitalizeClassName}Mapper ${uncapitalizeClassname}Mapper;

	/**
     * 查询${tableComment}信息
     * 
     * @param ${primaryKey.attrname} ${tableComment}ID
     * @return ${tableComment}信息
     */
    @Override
	public ${capitalizeClassName} select${capitalizeClassName}ById(${primaryKey.attrType} ${primaryKey.attrname})
	{
	    return ${uncapitalizeClassname}Mapper.select${capitalizeClassName}ById(${primaryKey.attrname});
	}
	
	/**
     * 查询${tableComment}列表
     * 
     * @param ${uncapitalizeClassname} ${tableComment}信息
     * @return ${tableComment}集合
     */
	@Override
	public List<${capitalizeClassName}> select${capitalizeClassName}List(${capitalizeClassName} ${uncapitalizeClassname})
	{
	    return ${uncapitalizeClassname}Mapper.select${capitalizeClassName}List(${uncapitalizeClassname});
	}
	
    /**
     * 新增${tableComment}
     * 
     * @param ${uncapitalizeClassname} ${tableComment}信息
     * @return 结果
     */
	@Override
	public int insert${capitalizeClassName}(${capitalizeClassName} ${uncapitalizeClassname})
	{
	    return ${uncapitalizeClassname}Mapper.insert${capitalizeClassName}(${uncapitalizeClassname});
	}
	
	/**
     * 修改${tableComment}
     * 
     * @param ${uncapitalizeClassname} ${tableComment}信息
     * @return 结果
     */
	@Override
	public int update${capitalizeClassName}(${capitalizeClassName} ${uncapitalizeClassname})
	{
	    return ${uncapitalizeClassname}Mapper.update${capitalizeClassName}(${uncapitalizeClassname});
	}

	/**
     * 删除${tableComment}对象
     * 
     * @param ids 需要删除的数据ID
     * @return 结果
     */
	@Override
	public int delete${capitalizeClassName}ByIds(String ids)
	{
		return ${uncapitalizeClassname}Mapper.delete${capitalizeClassName}ByIds(Convert.toStrArray(ids));
	}
	
}
